In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/019/Desktop/df_total.csv')

In [3]:
df[['시도명', '시군구명', '읍면동명', '읍면동구분명', '번지']] = df[['시도명', '시군구명', '읍면동명', '읍면동구분명', '번지']].fillna('')

In [4]:
df[['시도명', '시군구명', '읍면동명', '읍면동구분명', '번지']].dtypes

시도명       object
시군구명      object
읍면동명      object
읍면동구분명    object
번지        object
dtype: object

In [5]:
df['읍면동명'] + ' ' + df['읍면동구분명'] + ' ' +

SyntaxError: invalid syntax (1349424390.py, line 1)

In [8]:
str_list = ['시도명', '시군구명', '읍면동명', '읍면동구분명', '번지']

df['address'] = ''

for i in str_list:
    df['address'] += df[i] +' '

In [9]:
df['address']

0          강원도 강릉시 죽헌동  108-41
1         강원도 양양군 현남면 상월천리 289
2           강원도 강릉시 대전동  147-3
3            강원도 홍천군 내촌면 물걸리 5
4       강원도 원주시 귀래면 귀래리 1894-3
                 ...
1048        강원도 철원군 철원읍 화지리 21
1049            강원도 태백시 하사미동
1050        강원도 횡성군 안흥면 상안리 35
1051      강원도 강릉시 주문진읍 향호리 126
1052     강원도 홍천군 내촌면 화상대리 산9-2
Name: address, Length: 1053, dtype: object

In [29]:
df['시도명'] + ' ' + df['시군구명'] + ' ' + df['읍면동명'] + ' ' + df['읍면동구분명'] + ' ' + df['번지']

0          강원도 강릉시 죽헌동  108-41
1         강원도 양양군 현남면 상월천리 289
2           강원도 강릉시 대전동  147-3
3            강원도 홍천군 내촌면 물걸리 5
4       강원도 원주시 귀래면 귀래리 1894-3
                 ...
1048        강원도 철원군 철원읍 화지리 21
1049            강원도 태백시 하사미동
1050        강원도 횡성군 안흥면 상안리 35
1051      강원도 강릉시 주문진읍 향호리 126
1052     강원도 홍천군 내촌면 화상대리 산9-2
Length: 1053, dtype: object

In [31]:


lst = df['시도명'] + ' ' + df['시군구명'] + ' ' + df['읍면동명'] + ' ' + df['읍면동구분명'] + ' ' + df['번지']

In [56]:
lst = df['시도명'] + ' ' + df['시군구명'] + ' ' + df['읍면동명']

In [32]:
lst

0          강원도 강릉시 죽헌동  108-41
1         강원도 양양군 현남면 상월천리 289
2           강원도 강릉시 대전동  147-3
3            강원도 홍천군 내촌면 물걸리 5
4       강원도 원주시 귀래면 귀래리 1894-3
                 ...
1048        강원도 철원군 철원읍 화지리 21
1049            강원도 태백시 하사미동
1050        강원도 횡성군 안흥면 상안리 35
1051      강원도 강릉시 주문진읍 향호리 126
1052     강원도 홍천군 내촌면 화상대리 산9-2
Length: 1053, dtype: object

In [33]:
# https://wonhwa.tistory.com/29

In [34]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0

In [52]:
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')
# 위도, 경도 반환하는 함수
def geocoding(address):
    geo = geo_local.geocode(address)
    x_y = [geo.latitude, geo.longitude]
    return x_y

In [ ]:
#####주소를 위,경도 값으로 변환하기 #####
latitude = []
longitude =[]

for i in lst:
    try:
        latitude.append(geocoding(i)[0])
        longitude.append(geocoding(i)[1])
    except:
        continue

In [55]:
latitude

[37.79046]

In [46]:
geocoding(lst[5])

[37.3720694, 127.958236]

In [38]:
longitude

[128.86459]

In [ ]:
address_df = pd.DataFrame({'카페이름': csv['사업장명'],'상세주소':csv['소재지도로명주소'],'주소':address,'위도':latitude,'경도':longitude})

In [14]:
for i in range(10):
    df['시도명'][i] + df['시군구명'][i] + df['읍면동명'][i] + df['읍면동구분명'][i] + df['번지'][i]

TypeError: can only concatenate str (not "float") to str

In [8]:
pd.merge(df[['시도명', '시군구명', '읍면동명', '읍면동구분명', '번지']], how = 'right')

TypeError: merge() missing 1 required positional argument: 'right'

In [10]:
pd.merge(df['시도명'], df['시군구명'], df['읍면동명'], df['읍면동구분명'], df['번지'], how='inner')

TypeError: merge() got multiple values for argument 'how'