In [17]:
import os
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%config InlineBackend.figure_format = 'retina' # 그래프를 더 높은 해상도로 출력
%matplotlib inline

In [2]:
#한글 폰트 깨짐 방지
import warnings
warnings.filterwarnings(action='ignore')

if os.name == 'posix':
    plt.rc("font", family="AppleGothic")

else:
    plt.rc("font", family="Malgun Gothic")
plt.rc("axes", unicode_minus=False)

In [3]:
df = pd.read_csv('df.csv')
df.head()

,일련번호,인명피해수,재산피해금액,소방서명,서센터명,소방지역대명,화재발생일자,화재발생시간,접수일자,접수시각,...,발화원인,발화요인대분류명,전체인력수합계,동원장비수,날씨,온도,습도,시간단위풍속,시간단위풍향,특보내용
0,1,0,0,강릉소방서,경포119안전센터,NaN,20110122,233500,20110122,233511,...,기타,방화의심,37,8,맑음,-1.0,30,45.0,8.0,NaN
1,2,0,184330,양양소방서,하조대119안전센터,NaN,20110131,181300,20110131,181311,...,기타,부주의,1872,71,맑음,1.0,10,225.0,8.0,건조경보
2,3,0,0,강릉소방서,경포119안전센터,NaN,20110201,210700,20110201,210710,...,기타,방화의심,184,15,맑음,1.0,550,135.0,4.0,NaN
3,4,0,4864,홍천소방서,서석119안전센터,내촌119지역대,20110211,175000,20110211,175032,...,입산자실화,기타,171,9,구름많음,-2.0,29,225.0,4.0,NaN
4,5,0,50,원주소방서,흥업119안전센터,귀래119지역대,20110212,61800,20110212,61836,...,모닥불,부주의,94,9,구름많음,-6.0,44,225.0,4.0,NaN

In [4]:
df['화재진압시간'].head()

0      1800
1    155952
2     12300
3     20500
4     35009
Name: 화재진압시간, dtype: int64

In [20]:
np.sort(df['화재진압시간'])[:20]

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,  17,  58, 101, 147, 200], dtype=int64)

In [6]:
# 시간을 분으로 바꾸기
(df['화재진압시간']//10000) * 60

0         0
1       900
2        60
3       120
4       180
       ...
1048      0
1049    240
1050     60
1051     60
1052     60
Name: 화재진압시간, Length: 1053, dtype: int64

In [ ]:
df['화재진압시간_h'] = df['화재진압시간']//10000
df['화재진압시간_m'] = df['화재진압시간']//100-df['화재진압시간_h']*100
df['화재진압시간(분)'] = df['화재진압시간_h']*60+df['화재진압시간_m']
df