In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\019\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\019\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\019\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\019\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\019\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import pandas as pd

In [4]:
ser = pd.Series([1,2,3], index = ['a','b','c'])
print(ser)

a    1
b    2
c    3
dtype: int64

In [5]:
ser

a    1
b    2
c    3
dtype: int64

In [7]:
# 인덱스 b의 값을 불러오기
ser.loc['b']

2

In [9]:
ser.loc['b':'c']

b    2
c    3
dtype: int64

In [10]:
ser.loc[['a','c']]

a    1
c    3
dtype: int64

In [11]:
ser.iloc[1:3]

b    2
c    3
dtype: int64

In [12]:
ser !=2

a     True
b    False
c     True
dtype: bool

In [13]:
# 값이 2가 아닌 걸 찾아줘!
ser.loc[ser !=2]

a    1
c    3
dtype: int64

In [2]:
import pandas as pd
df = pd.DataFrame(
[[1, 10, 100], [2, 20, 200], [3, 30, 300]],
index = ['r1', 'r2', 'r3'],
columns = ['c1', 'c2', 'c3'])
df

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [6]:
df.iloc[df>10]

IndexError: DataFrame indexer is not allowed for .iloc
Consider using .loc for automatic alignment.

In [13]:
(df > 1) & (df < 300)

       c1    c2     c3
r1  False  True   True
r2   True  True   True
r3   True  True  False

In [16]:
df[(df > 1) & (df < 300)]

     c1  c2     c3
r1  NaN  10  100.0
r2  2.0  20  200.0
r3  3.0  30    NaN

In [15]:
df.loc[(df['c1'] > 1) & (df['c3'] < 300)]

    c1  c2   c3
r2   2  20  200

In [18]:
df.loc['r1', 'c1']

1

In [20]:
df['c1'][0]

1

In [23]:
df.loc[['r1','r3'],:]

    c1  c2   c3
r1   1  10  100
r3   3  30  300

In [25]:
df.loc['r1','r3']

KeyError: 'r3'

In [26]:
df.loc[['r1','r3']]

    c1  c2   c3
r1   1  10  100
r3   3  30  300

In [28]:
df.loc[['r1','r3'],'c2':'c3']

    c2   c3
r1  10  100
r3  30  300

In [30]:
df.iloc[1:3, [0,2]]

    c1   c3
r2   2  200
r3   3  300

In [44]:
df>10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [39]:
df[df>10]

    c1    c2   c3
r1 NaN   NaN  100
r2 NaN  20.0  200
r3 NaN  30.0  300

In [50]:
df.loc[(df['c1'] >1) & (df['c3'] < 300)]

    c1  c2   c3
r2   2  20  200

In [51]:
df[(df['c1'] >1) & (df['c3'] < 300)]

    c1  c2   c3
r2   2  20  200

# 주식으로 데이터프레임 만들기 실습

In [ ]:
# https://finance.naver.com/

In [17]:
import requests
from bs4 import BeautifulSoup

res = requests.get('https://finance.naver.com/')
soup = BeautifulSoup(res.content, 'html.parser')

In [105]:
result = soup.select('tbody', id='_topItems1')

In [106]:
lst1 = result[0].get_text().strip().split('\n\n\n')

In [112]:
lst2 = []

for i in range(len(lst1)):
    temp = lst1[i].split()
    if 'KODEX' in temp:
        temp.remove('KODEX')
    lst2.append(temp)

In [113]:
lst2

[['200선물인버스2X', '3,330', '하락', '15', '-0.45%'],
 ['에이루트', '558', '상승', '113', '+25.39%'],
 ['코스닥150선물인버스', '5,115', '하락', '5', '-0.10%'],
 ['레버리지', '14,215', '상승', '110', '+0.78%'],
 ['켐온', '3,185', '상승', '360', '+12.74%'],
 ['인버스', '5,025', '하락', '10', '-0.20%'],
 ['알로이스', '2,105', '상승', '380', '+22.03%'],
 ['코스닥150레버리지', '8,280', '상승', '30', '+0.36%'],
 ['국전약품', '9,530', '상승', '540', '+6.01%'],
 ['삼성', '인버스', '2X', 'WTI원유', '선물', 'ETN', '130', '보합', '0.00%'],
 ['진원생명과학', '15,150', '상승', '300', '+2.02%'],
 ['홈센타홀딩스', '1,300', '상승', '85', '+7.00%'],
 ['셀루메드', '5,830', '상승', '800', '+15.90%'],
 ['이화전기', '953', '하락', '142', '-12.97%'],
 ['대한전선', '1,615', '하락', '30', '-1.82%']]

In [117]:
del lst2[-6]

In [118]:
lst2

[['200선물인버스2X', '3,330', '하락', '15', '-0.45%'],
 ['에이루트', '558', '상승', '113', '+25.39%'],
 ['코스닥150선물인버스', '5,115', '하락', '5', '-0.10%'],
 ['레버리지', '14,215', '상승', '110', '+0.78%'],
 ['켐온', '3,185', '상승', '360', '+12.74%'],
 ['인버스', '5,025', '하락', '10', '-0.20%'],
 ['알로이스', '2,105', '상승', '380', '+22.03%'],
 ['코스닥150레버리지', '8,280', '상승', '30', '+0.36%'],
 ['국전약품', '9,530', '상승', '540', '+6.01%'],
 ['진원생명과학', '15,150', '상승', '300', '+2.02%'],
 ['홈센타홀딩스', '1,300', '상승', '85', '+7.00%'],
 ['셀루메드', '5,830', '상승', '800', '+15.90%'],
 ['이화전기', '953', '하락', '142', '-12.97%'],
 ['대한전선', '1,615', '하락', '30', '-1.82%']]

In [119]:
df = pd.DataFrame(lst2)

In [120]:
df

              0       1   2    3        4
0    200선물인버스2X   3,330  하락   15   -0.45%
1          에이루트     558  상승  113  +25.39%
2   코스닥150선물인버스   5,115  하락    5   -0.10%
3          레버리지  14,215  상승  110   +0.78%
4            켐온   3,185  상승  360  +12.74%
5           인버스   5,025  하락   10   -0.20%
6          알로이스   2,105  상승  380  +22.03%
7    코스닥150레버리지   8,280  상승   30   +0.36%
8          국전약품   9,530  상승  540   +6.01%
9        진원생명과학  15,150  상승  300   +2.02%
10       홈센타홀딩스   1,300  상승   85   +7.00%
11         셀루메드   5,830  상승  800  +15.90%
12         이화전기     953  하락  142  -12.97%
13         대한전선   1,615  하락   30   -1.82%

In [122]:
df.columns =['company', 'price', 'status', 'much', 'percent']

In [123]:
df

        company   price status much  percent
0    200선물인버스2X   3,330     하락   15   -0.45%
1          에이루트     558     상승  113  +25.39%
2   코스닥150선물인버스   5,115     하락    5   -0.10%
3          레버리지  14,215     상승  110   +0.78%
4            켐온   3,185     상승  360  +12.74%
5           인버스   5,025     하락   10   -0.20%
6          알로이스   2,105     상승  380  +22.03%
7    코스닥150레버리지   8,280     상승   30   +0.36%
8          국전약품   9,530     상승  540   +6.01%
9        진원생명과학  15,150     상승  300   +2.02%
10       홈센타홀딩스   1,300     상승   85   +7.00%
11         셀루메드   5,830     상승  800  +15.90%
12         이화전기     953     하락  142  -12.97%
13         대한전선   1,615     하락   30   -1.82%

# 위에거는 잘못 푼 내용
# 아래 처럼 해야 함

In [19]:
data = []

In [22]:
for i in soup.select('#_topItems1')[0].select('tr'):
    data.append(i.text.strip().split('\n'))

In [20]:
for i in soup.select('#_topItems1')[0].find_all('tr'):
    data.append(i.text.strip().split('\n'))

In [23]:
data

[['KODEX 200선물인버스2X', '3,305', '하락 40', '  -1.20%'],
 ['에이루트', '550', '상승 105', '  +23.60%'],
 ['KODEX 인버스', '5,010', '하락 25', '  -0.50%'],
 ['KODEX 코스닥150선물인버스', '5,125', '상승 5', '  +0.10%'],
 ['KODEX 레버리지', '14,295', '상승 190', '  +1.35%'],
 ['켐온', '3,085', '상승 260', '  +9.20%'],
 ['알로이스', '2,045', '상승 320', '  +18.55%'],
 ['세종메디칼', '6,200', '상승 1,430', '  +29.98%'],
 ['KODEX 코스닥150레버리지', '8,240', '하락 10', '  -0.12%'],
 ['삼성 인버스 2X WTI원유 선물 ETN', '130', '보합', '  0.00%'],
 ['삼성전자', '60,000', '상승 2,500', '  +4.35%'],
 ['국전약품', '9,640', '상승 650', '  +7.23%'],
 ['셀루메드', '5,990', '상승 960', '  +19.09%'],
 ['진원생명과학', '15,300', '상승 450', '  +3.03%'],
 ['대한전선', '1,625', '하락 20', '  -1.22%'],
 ['KODEX 200선물인버스2X', '3,305', '하락 40', '  -1.20%'],
 ['에이루트', '550', '상승 105', '  +23.60%'],
 ['KODEX 인버스', '5,010', '하락 25', '  -0.50%'],
 ['KODEX 코스닥150선물인버스', '5,125', '상승 5', '  +0.10%'],
 ['KODEX 레버리지', '14,295', '상승 190', '  +1.35%'],
 ['켐온', '3,085', '상승 260', '  +9.20%'],
 ['알로이스', '2,045', '상승 320', '  +18.55%'],
 ['세종메디칼', '6,200', '상승 1,430', '  +29.98%'],
 ['KODEX 코스닥150레버리지', '8,240', '하락 10', '  -0.12%'],
 ['삼성 인버스 2X WTI원유 선물 ETN', '130', '보합', '  0.00%'],
 ['삼성전자', '60,000', '상승 2,500', '  +4.35%'],
 ['국전약품', '9,640', '상승 650', '  +7.23%'],
 ['셀루메드', '5,990', '상승 960', '  +19.09%'],
 ['진원생명과학', '15,300', '상승 450', '  +3.03%'],
 ['대한전선', '1,625', '하락 20', '  -1.22%']]