# Part 01 파이썬프로그래밍 기초

# 1번 파티준비

In [ ]:
ppl = int(input("참석자의 수를 입력하시오: "))

chicken = ppl *1
beer = ppl*2
cake = ppl*4

print("준비해야 할 치킨의 수:", chicken)
print("준비해야 할 맥주의 수:", beer)
print("준비해야 할 케익의 수:", cake)

# 2번

In [ ]:
name = str(input("이름을 입력하시오: "))
print(name + " 씨, " + "안녕하세요?" '\n' + "파이썬에 오신 것을 환영합니다.")
a = int(input("첫 번째 정수를 입력하시오: "))
b = int(input("두 번째 정수를 입력하시오: "))
print(str(a) , "과", str(b), "의", "합은", str(a+b), "입니다.")

# 3번

In [ ]:
line = str(input("문장: "))

temp = line.split(' ')

length = len(temp[0])+len(temp[1])+len(temp[2])+len(temp[3])

print("전체글자수:", length)
print("평균글자수:", round(length / 4, 1))

# 4번

In [7]:
day = input("오늘 날짜를 입력하시오: ")
day1 = day.split('/')
print(day1[0] + '년 ' + str(int(day1[1])) + '월 ' + str(int(day1[2])) +'일')

오늘 날짜를 입력하시오: 2022/04/04
2022년 4월 4일

# 4번 또 다른 방법

In [8]:
day = input("오늘 날짜를 입력하시오: ")
year, month, day = day.split('/')

print("{}년 {}월 {}일".format(year, month, day))

오늘 날짜를 입력하시오: 2005/03/03
2005년 03월 03일

# 5번 성적처리 결과 출력

In [9]:
scores = input("Scores: ")

Scores: 77 88 100

In [10]:
his, math, com = scores.split()

In [26]:
his = int(his)
math = int(math)
com = int(com)

In [20]:
'{:*^22}'.format('REPORT')

'********REPORT********'

In [36]:
'History: {:>13}'.format(his)

'History:            77'

In [41]:
scores = input("Scores: ")
his, math, com = scores.split()

his = int(his)
math = int(math)
com = int(com)

total = his + math + com
avg = round(total / 3,1)

print('{:*^22}'.format('REPORT'))
print('History: {:>13}'.format(his))
print("Mathematics: {:>9}".format(math))
print("Computation: {:>9}".format(com))
print("Total Score: {:9}".format(total))
print("Average Score: {:7}".format(avg))

print('-'*22)

Scores: 77 80 100
********REPORT********
History:            77
Mathematics:        80
Computation:       100
Total Score:       257
Average Score:    85.7
----------------------