In [2]:
# 숫자 맞추기 게임

import random

num = random.randint(1,100)

while True:
    guess = int(input("숫자는? "))
    if guess == num:
        print('맞췄습니다.')
        break
    elif guess > num:
        print('입력한 숫자보다 낮습니다')
    else:
        print('입력한 숫자보다 높습니다')

숫자는? 100
입력한 숫자보다 낮습니다
숫자는? 50
입력한 숫자보다 낮습니다
숫자는? 20
입력한 숫자보다 높습니다
숫자는? 40
입력한 숫자보다 높습니다
숫자는? 45
입력한 숫자보다 높습니다
숫자는? 48
맞췄습니다.

# 1. 영문 월 이름 출력하기

In [3]:
month_list = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

num = int(input("월을 입력하세요: "))

eng = month_list[num-1]

print('{}월은 {}입니다.'.format(num,eng))

월을 입력하세요: 12
12월은 December입니다.

# 2. 리스트 메소드 연습

In [25]:
list = []
for i in range(5):
    temp = int(input('Enter 5 integers: '))
    list.append(temp)
print(list)

average = round(sum(list) / 5, 1)

print('평균: {}'.format(average))

Enter 5 integers: 10
Enter 5 integers: 20
Enter 5 integers: 30
Enter 5 integers: 55
Enter 5 integers: 66
[10, 20, 30, 40, 50, 10, 20, 30, 55, 66]
평균: 66.2

# 3. 여러 개의 수 한번에 입력 받아 평균 구하기

In [36]:
num = input('Enter 5 integers: ')

list = num.split(' ')

for i in range(len(list)):
    list[i] = int(list[i])

print(list)
avg = round(sum(list) / len(list), 1)

print('평균: {}'.format(avg))

Enter 5 integers: 12 34 56 78 1 2 3 4 5 6
[12, 34, 56, 78, 1, 2, 3, 4, 5, 6]
평균: 20.1

# 4. 중복 단어 없애기

In [77]:
sentence = input('Enter Sentence: ')

sentence = sentence.lower()

words = sentence.split()

words_sort = sorted(set(words))

str = ' '.join(s for s in words_sort)
print("words:", str)

Enter Sentence: This Land Is my land this land is your land
words: is land my this your

# 5. 수강 과목 학점 예측

In [83]:
sub = input("수강 과목: ")
absence = input("결석한 과목: ")
ass = input('과제 미제출 과목: ')

수강 과목: 채플 영어 컴퓨팅사고 글쓰기 경제학 문학 파이썬
결석한 과목: 영어 글쓰기 문학
과제 미제출 과목: 채플 영어 글쓰기 경제학

In [84]:
sub = set(sub.split())
absence = set(absence.split())
ass = set(ass.split())

In [85]:
sub, absence, ass

({'경제학', '글쓰기', '문학', '영어', '채플', '컴퓨팅사고', '파이썬'},
 {'글쓰기', '문학', '영어'},
 {'경제학', '글쓰기', '영어', '채플'})

In [91]:
# 전체에서 결석/과제 미제출의 합집합을 빼야함
A = sub.difference(ass.union(absence))

In [92]:
# 결석/과제 미제출 교집합
F = absence.intersection(ass)

In [93]:
F

{'글쓰기', '영어'}

In [95]:
print('A 예상 과목:', A)
print('F 예상 과목:', F)

A 예상 과목: {'컴퓨팅사고', '파이썬'}
F 예상 과목: {'영어', '글쓰기'}

In [ ]:
sub = input("수강 과목: ")
absence = input("결석한 과목: ")
ass = input('과제 미제출 과목: ')

sub = set(sub.split())
absence = set(absence.split())
ass = set(ass.split())

# 전체에서 결석/과제 미제출의 합집합을 빼야함
A = sub.difference(ass.union(absence))

# 결석/과제 미제출 교집합
F = absence.intersection(ass)

print('A 예상 과목:', A)
print('F 예상 과목:', F)

# 6. 전화번호 분리

In [97]:
phone = input('전화번호: ')
ph = phone.split('-')

전화번호: 010-1234-2968

In [98]:
ph

['010', '1234', '2968']

In [105]:
for i in range(4):
    print(ph[2][i], int(ph[2][i]) * '#')

2 ##
9 #########
6 ######
8 ########

In [106]:
phone = input('전화번호: ')
ph = phone.split('-')

for i in range(4):
    print(ph[2][i], int(ph[2][i]) * '#')

전화번호: 010-1234-1234
1 #
2 ##
3 ###
4 ####

# 7. 구구단 출력

In [4]:
num = int(input("구구단 입력: "))
width = int(input("가로 항목 수: "))
for i in range(1, 10):
    print("{:02d} x {:02d} = {:02d}".format(num, i, num*i), end='    ')
    if i%width==0:
        print()

구구단 입력: 4
가로 항목 수: 2
04 x 01 = 04    04 x 02 = 08
04 x 03 = 12    04 x 04 = 16
04 x 05 = 20    04 x 06 = 24
04 x 07 = 28    04 x 08 = 32
04 x 09 = 36

In [5]:
n99dan = int(input("구구단 입력: "))
wLen = int(input("가로 항목 수: "))

for i in range(1,10):
    if i % wLen == 0:
        sp = '\n'
    else:
        sp = '    '
    print("%02d x %02d = %02d"%(n99dan, i, i*n99dan), end = sp)

구구단 입력: 15
가로 항목 수: 12
15 x 01 = 15    15 x 02 = 30    15 x 03 = 45    15 x 04 = 60    15 x 05 = 75    15 x 06 = 90    15 x 07 = 105    15 x 08 = 120    15 x 09 = 135

# 8. 문장 분석하기2

In [120]:
sentence = input('문장: ')

문장: 저는 파이썬 프로그래밍을 아주 좋아합니다

In [122]:
sentence.split()

['저는', '파이썬', '프로그래밍을', '아주', '좋아합니다']

In [124]:
length = len(sentence.split())

In [128]:
sum = 0
for i in range(len(sentence.split())):
    sum = sum +len(sentence.split()[i])
    avg = round(sum / len(sentence.split()), 1)

In [129]:
avg

3.6

In [121]:
print('위 문장의 단어 수는 {}개이며, 평균 글자 수는 {}개입니다.'.format(length, ))

IndexError: Replacement index 0 out of range for positional args tuple

In [130]:
sentence = input('문장: ')
sentence.split()

length = len(sentence.split())

sum = 0
for i in range(len(sentence.split())):
    sum = sum +len(sentence.split()[i])
avg = round(sum / len(sentence.split()), 1)
    
print('위 문장의 단어 수는 {}개이며, 평균 글자 수는 {}개입니다.'.format(length, avg))

문장: 위 문장의 단어 수는
위 문장의 단어 수는 4개이며, 평균 글자 수는 2.0개입니다.

# 9. 주민등록번호 해석

In [11]:
name = input('이름: ')
num = input('주민등록번호: ')

이름: Dear Lover
주민등록번호: 210204-4123456

In [12]:
name

'Dear Lover'

In [13]:
num

'210204-4123456'

In [14]:
num[7]

'4'

In [17]:
if int(num[7]) == 1 or int(num[7]) == 3:
    sex = '남성'
else:
    sex = '여성'

In [18]:
sex

'여성'

In [19]:
if int(num[7]) == 1 or int(num[7]) == 2:
    birth = '19' + num[:2]
else:
    birth = '20' + num[:2]

In [20]:
num[7]

'4'

In [21]:
birth

'2021'

In [144]:
print('{}: {}년생 {}'.format(name, birth,sex))

Dear Lover: 1921년생 남성

In [23]:
name = input('이름: ')
num = input('주민등록번호: ')

if int(num[7]) == 1 or int(num[7]) == 3:
    sex = '남성'
else:
    sex = '여성'

if int(num[7]) == 1 or int(num[7]) == 2:
    birth = '19' + num[:2]
else:
    birth = '20' + num[:2]
    
print('{}: {}년생 {}'.format(name, birth,sex))

이름: 홍길동
주민등록번호: 880726 1023214
홍길동: 1988년생 남성

In [ ]:
name = input("이름: ")
idNum = input("주민등록번호: ")
idYear = int(idNum[0:2])
idMon = int(idNum[2:4])
idDD = int(idNum[4:6])
idGen = idNum[7]
if idGen == "1":
    gender = "남성"
    idYear += 1900
elif idGen == '2':
    gender = "여성"
    idYear += 1900
elif idGen == '3':
    gender = "남성"
    idYear += 2000
else:   # idGen == 4
    gender = "여성"
    idYear += 2000
print("{}: {}년생 {}".format(name, idYear, gender))

# 10. 성적처리 결과 출력

In [26]:
s = input("Scores: ")

Scores: 77 88 100

In [37]:
s.split()

hist = s.split()[0]
math = s.split()[1]
comp = s.split()[2]

In [38]:
hist, math, comp

('77', '88', '100')

In [45]:
hist = int(hist)
math = int(math)
comp = int(comp)

In [54]:
total = hist+math+comp

In [55]:
total

265

In [58]:
avg = int(round(total / 3,0))

In [59]:
print('Report'.center(22))

        Report

In [60]:
print("{:*^22}".format("Report"))

********Report********

In [61]:
print("{:<15s}{:7d}".format("History:", hist))

History:            77

In [62]:
print("{:*^22}".format("Report"))
print("{:<15s}{:7d}".format("History:", hist))
print("{:<15s}{:7d}".format("Mathematics:", math))
print("{:<15s}{:7d}".format("Computation:", comp))
print("-" * 22)
print("{:<15s}{:7d}".format("Total Score:", total))
print("{:<15s}{:7d}".format("Average Score:", avg))

********Report********
History:            77
Mathematics:        88
Computation:       100
----------------------
Total Score:       265
Average Score:      88